@import "node_modules/@cells-components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  @apply --cells-ui-usuarios-form-vcard;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;}

  .panel-form {
    padding: 10px;
  }

  .panel-item-content {
    padding: 5px;
  }

  .panel-top {
    padding-right: 10px !important;
  }

  .panel-left {
    border-right:1px solid #BDBDBD;
  }

  .panel-add-opciones {
    float: left;
  }

  .separator {
    margin-bottom: 5px;
    clear: both;
  }

  .input-add-opc {
    float: left;
    width: calc(100% - 60px);
  }

  .button-add-opc {
    float: right;
    width: 55px;
  }

  .text-add-opc {
    float: left;
    width: calc(100% - 40px);
  }

  .button-trash-opc {
    float: right;
    width: 35px;
    text-align: right
  }

  .btn-trash {
    border-radius: 50%;
    padding: 5px !important;
    width: 40px !important;
    height: 40px !important;
  }

  td {
    vertical-align: middle !important;
  }

  .icon-trash {
    margin:  0px 0px 0px 0px !important;
  }

  .panel-right {
    padding-right: 0px;
  }

  .sub-titulo {
    color: #043263;
    font-size: 0.95rem;
    font-weight: bold;
    padding: 10px 10px 0px 5px;
  }

.table-container {
  background-color: #028484;
}
table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
table thead {
    /* head takes the height it requires, 
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}
table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
}
table tbody tr {
    width: 100%;
}
table thead,
table tbody tr {
    display: table;
    table-layout: fixed;
}
tbody {
  background-color: #fff;
}

.container-buttons {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  padding: 5px;
}

@media (max-width: 420px) {
  .input-add-opc {
    width: 200px;
  }

  .text-add-opc {
    width: 190px;
  }
}